@import "lib/bourbon/bourbon";
@import "lib/neat/app/assets/stylesheets/neat";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Lato:400,100,300,900italic);

body{
  background: #050505;
  margin: 0;
  max-width: 1440px;
  @include outer-container (100%);
    #app{
      margin: 1%;
    }
      img{
        @include span-columns(6);
        @include shift(3);
        width: 444px;
        margin-left: 450px;
      }
      h1{
        @include span-columns (6);
        @include shift (3);
        font-family: "Lato";
        font-size: 55px;
        text-align: center;
        white-space:normal;
        color: #fff;
      }
        .maintitle{
          text-align: center;
          font-family: "Lato";
          font-weight: 700;
          font-size: 95px;
          margin: 0;
          margin-left: 335px;
        }
      h2{
        @include span-columns (6);
        @include shift (3);
        margin: 0;
        text-align: center;
        white-space:normal;
        color: #fff;
      }
        .subtitle{
          text-align: center;
          font-family: "Lato";
          font-weight: 400;
          font-size: 55px;
          margin: 0;
          margin-left: 335px;
        }
      h3{
        @include span-columns (6);
        @include shift (3);
        margin: 0;
        text-align: center;
        white-space:normal;
        color: #fff;
      }
        .author{
          text-align: center;
          font-family: "Lato";
          font-weight: 400;
          font-size: 25px;
          color:#5D5B81;
          margin: 0;
          margin-left: 335px;
          margin-top: 14px;
        }
    div.container{
      @include span-columns (6);
      @include shift(3);
    }
    form.search{
      @include span-columns (6);
      @include shift(3);
      margin:0;
      margin-left: 475px;
      margin-top: 20px;
    }
      input{
        width:400px;
        font-size: 20px;
        border-style: none;
        color: #050505;
      }
    div.results{
      @include span-columns (6);
      @include shift (3);
      margin-top: 20px;
      margin-left: 435px;
      font-family: "Lato";
      font-size: 15px;
      text-decoration: none;
      text-align: left;
      white-space:normal;
      color: #fff;
    }
}
